.team {
  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -1;
    background-color: #e7e1d8;
  }
}

.teamTitle {
  text-align: center;
  padding-top: 126px;

  & p {
    margin-bottom: 10px;
    font-size: 13px;
  }
  & hr {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5%;
    width: 120px;
  }
}
.teamRow {
  & h4 {
    margin-top: 25px;
  }
  & p {
    font-size: 13px;
  }
  & div {
    transition: 0.3s ease;
    max-width: 330px;
    min-height: 400px;
    background: no-repeat no-repeat center;
    background-size: cover;
    background-size: 105%;
    &:hover {
      background-position-x: 1px;
    }
  }
}
