.relatedProducts {
  & h3 {
    margin: 90px 0 50px 0;
  }
  & div[class="products-row"] {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      max-width: 200px;
    }
  }
}
