@mixin heading-1 {
  font-weight: bold;
  font-size: 10vmin;
}

@mixin button {
  background-color: transparent;
  border: none;
  padding: 5px 15px;
  color: white;
}
@mixin squared-button($color) {
  background-color: transparent;
  border: 1px solid $color;
  padding: 5px 20px;
  color: $color;
  transition: 0.3s ease;

  &:hover {
    background-color: $color;
    color: white;
  }
}

@mixin input {
  padding-bottom: 5px;
  border: none;
  resize: none;
  outline: none;
  &::placeholder {
    font-weight: 100;
    color: black;
  }
}
