.footer {
  margin-top: 100px;
  font-size: smaller;

  //Logo
  & img {
    width: 50px;
  }

  //Payment methods
  & img[id="footer-payment-methods"] {
    width: 100%;
    margin-top: 10px;
  }

  //Section titles
  & h5 {
    margin: 10px 0 15px 0;
  }

  & ul li {
    margin-bottom: 10px;
    font-weight: 300;
    transition: 0.2s ease;
    //Section's list item
    & a {
      color: black;
      text-decoration: none;
    }
    &:hover {
      transform: translateX(5px);
    }
  }
  & div[id="footer-copyright"] {
    font-weight: 300;
    font-size: 12px;
    & a {
      color: inherit;
    }
  }
}
