@import "styles/mixins";

.appModalSuccess {
  text-align: center;
  & div[class="modal-header"] {
    border-bottom: none;
  }
  & div[class="modal-body"] {
    padding-bottom: 0;
    line-height: 30px;
  }
  & div[class="modal-footer"] {
    border-top: none;
    justify-content: center;
    & button {
      @include squared-button(#30be85);
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
}
